<form class="well form-horizontal" action="/contacts/new" method="post">
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Contact Name</label>
    <div class="col-xs-4 input-group">
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
  </div>
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Phone Number</label>
    <div class="col-xs-4 input-group">
      <input type="text" class="form-control" name="number" placeholder="number">
    </div>
  </div>
  <div class='form-group row text-center'>
    <button class="text-center btn btn-warning"type="submit" name="button">Create Contact</button>
  </div>
</form>
