<form class="well form-horizontal text-center" action="/login" method="post" id="register_form">
  <div class='form-group row'>
    <h3 class='text-center'>Login</h3>
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Username</label>
    <div class="col-xs-4 input-group">
      <input type="email" class="form-control" placeholder="Username">
    </div>
  </div>
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Password</label>
    <div class="col-xs-4 input-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
  </div>
  <!-- YOUR CODE HERE -->
  <div class='form-group row text-center'>
    <button type="submit" class="text-center btn btn-warning">Login</button>
    <a href="/signup"><button class="text-center btn btn-warning"type="button" name="button">Register</button></a>
  </div>
</form>
