<form class="well form-horizontal text-center" action="/signup" method="post">
  <div class='form-group row'>
    <h3 class='text-center'>Sign Up</h3>
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Username</label>
    <div class="col-xs-4 input-group">
      <input type="text" class="form-control" name ="username"placeholder="Username">
    </div>
  </div>
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Password</label>
    <div class="col-xs-4 input-group">
      <input type="password" class="form-control" name="password"placeholder="Password">
    </div>
  </div>
  <div class='form-group row'>
    <label for="staticEmail" class="col-xs-2 col-xs-offset-2 control-label">Repeat Password</label>
    <div class="col-xs-4 input-group">
      <input type="password" class="form-control"name="passwordRepeat" placeholder="Password">
    </div>
  </div>
  <!-- YOUR CODE HERE -->
  <div class='form-group row text-center'>
    <button class="text-center btn btn-warning"type="submit" name="button">Register</button>
  </div>
</form>
